{% extends 'base.html.twig' %} {% block body %}

   <div class="container">

    <div class="row mb-4">
    <h2 class="text-center">Mettre à informations personnelles</h2>
        <div class="col-md-5 mx-auto">
        {{ form_start(form, {'attr': {novalidate: 'novalidate'} }) }}

            {{form_row(form.firstname)}}
            {{form_row(form.lastname)}}
            {{form_row(form.email)}}

        {{ form_end(form) }}

        </div>
        </div>
    
   </div>

{% endblock %}