{% extends 'base.html.twig' %} {% block body %}

   <div class="container">
        <div class="col-md-9">
            <h2 class="text-center">Mes informations personnelles</h2>

            <div class="row">
                <div class="col-5">
                    <a href="#" class="btn btn-warning text-center text-white">Changer mon mot de passe</a>
                </div>
            </div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ app.user.prenom }}</td>
                    <td>{{  app.user.nom }}</td>
                    <td>{{  app.user.email }}</td>
                    <a href="{{path('edit_user',{id: app.user.id}) }}" class="btn btn-info"><i class="fa fa-edit"></i></a>
                </tr>
            </tbody>
        </table>
        </div>

    </div>

    
   </div>

{% endblock %}