{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">

			<div class="col-12">
				<h2 class="text-center my-5">Tous les articles</h2>
			</div>

			{% for article in articles %}
				<div class="col-4">
					<div class="card overflow-auto" style="width: 100%; height: 30rem;">
						<img src="{{ asset('uploads_dir/' ~ article.photo) }}" class="card-img-top img-card-custom" alt="">

						<div class="card-body">
							<h5 class="card-title">{{ article.title | length > 20 ? article.title | slice(0, 20) ~ '...' : article.title  }}</h5>
							<h6 class="card-title">{{ article.subtitle | length > 30 ? article.subtitle | slice(0, 30) ~ '...' : article.subtitle  }}</h6>
							<p class="card-text">{{ article.content | length > 100 ? article.content | slice(0, 100) ~ '...' : article.content  }}</p>
							<a href="{{path('show_article',{id: article.id}) }}"class="btn btn-primary d-block mx-auto">Voir l'article</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}