{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-center mt-3">Catégorie {{ category.name }}</h2>

{# On utilise ici le keyword 'empty' car on veut tester si l'array[] articles est vide. #}
    {% if articles is not empty %}
    
    <div class="col-9 mx-auto mt-5">
        {% for article in articles %}
            <div class="row mt-4">
                <div class="col-5 mr-3">
                    <img src="{{ asset('uploads_dir/' ~ article.photo) }}"  alt="{{article.title}}" class="img-card-custom rounded shadow">
                </div>
                <div class="col-7">
                    <h3 href="{{path('show_article', {'cat_alias': article.category.alias, 'art_alias': article.alias})}}" class="text-decoration-none" >{{ article.title }}</h3>
                    <p>{{ article.subtitle }}</p>
                </div>
            </div>
            <hr>{#----------------------------------------------------------------------------------------------------------------------------------#}</hr>
        {% endfor %}
    </div>

    {% else %}
        <h3 class="col-8 mx-auto text-center mt-5 text-warning">Aucun article disponible dans cette catégorie</h3>
        <div class="col-2 mx-auto mt-3">
            <a href={{path('create_article')}} class="d-block btn btn-primary">Créer un article</a>
        </div>
    {% endif %}


{% endblock %}