{% extends 'base.html.twig' %} {% block body %}
<div class="container">

    <div class="row">
        <div class="col-10 my-4 mx-auto">

            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center mb-5">{{article.title}}</h1>
                    <p class="h4 text-center mb-3 text-secondary">{{article.subtitle}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center text-muted">Créé le {{article.createdAt | date('d/m/y')}} | par : {{ article.author.firstname}} {{ article.author.lastname}}</li>
                </ul>
                <img class="img-custom" src="{{ asset('uploads_dir/' ~ article.photo) }}" alt="{{ article.title}}">
                <div class="card-body">
                    <p class="card-text my-4 col-10 mx-auto">{{article.content | raw }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{ render(url('add_commentary', {'id':article.id})) }}
{% endblock %}