{% extends 'base.html.twig' %} {% block body %}
<div class="container">

    <div class="row">
        <div class="col-10 my-4 mx-auto">

            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center mb-5">{{article.title}}</h1>
                    <p class="h4 text-center mb-3 text-secondary">{{article.subtitle}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center text-muted">Créé le {{article.createdAt | date('d/m/y')}} | par : {{ article.author.firstname}} {{ article.author.lastname}}</li>
                </ul>
                <img class="img-custom" src="{{ asset('uploads_dir/' ~ article.photo) }}" alt="{{ article.title}}">
                <div class="card-body">
                    <p class="card-text my-4 col-10 mx-auto">{{article.content | raw }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{ render(url('add_commentary', {'id':article.id})) }}

{# afficher les commentaires reliés à un article#}
<div class="container">
    {% if commentaries is not null %}
       <div class="row">
       <div class="col-md-3"></div>
            <div class="col-md-6">
                 {% for commentary in commentaries %}
                    <hr> 
                    <p><b>{{commentary.author.firstname}} {{commentary.author.lastname}}</b> <span class="mutted">{{commentary.createdAt|date('d/m/Y')}} <span></p>
                    <p><i>{{commentary.comment|raw}}</i></p>
                {% endfor %}
            </div>
       <div class="col-md-3"></div>
       </div>
    {% endif %}
</div>

{% endblock %}