{% extends 'base.html.twig' %} {% block body %}

<div class="container">
    <h2 class="text-alin-center">Catégorie {{category.name}}</h2>

    {% if  articles is not null %}
        <div class="col-9 mx-auto mt-5">
            {% for article in articles %}

                <div class="col-5 mr-3">
                    <img src="{{ asset('uploads_dir/' ~ article.photo) }}" alt={{article.title}} class="img-card-custom rounded">
                </div>

                <div class="col-7">
                </div>
            {% endfor %}

        </div>
    {% endif %}


</div>

{% endblock %}