<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('default_home')}}">ActuNews</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active text-uppercase" href="{{path('default_home')}}">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
          {% if not app.user %}
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="{{path('register')}}">Inscription</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="{{path('app_login')}}">Connexion</a>
            </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="{{path('app_logout')}}">Deconnexion</a>
          </li>
        {% endif %}

        {% if  is_granted('ROLE_ADMIN')%}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-uppercase" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{path('show_dashboard')}}">Dashboard</a>
                <a class="dropdown-item" href="{{path('create_article')}}">Créer un article</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
        {% endif %}

        {{ render(url('render_categories')) }}

      </ul>
      <ul  class="d-flex">
      <li class="nav-item">
          <a class="nav-link text-uppercase" href="#">A propos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
