{% extends 'base.html.twig' %}

{% block body %}

<div class="row my-4">
<h1 class="text-center"> Inscription</h1>
</div>
    <div class="row mb-4">
    <div class="col-md-5 mx-auto">
    {{ form_start(form, {'attr': {novalidate: 'novalidate'} }) }}

        {{form_row(form.firstname)}}
        {{form_row(form.lastname)}}
        {{form_row(form.email)}}
        {{form_row(form.password)}}

    {{ form_end(form) }}

    </div>
    </div>

{% endblock %}