<ul class="list-unstyled">
        {% for categorie in categories %}
            <li><a href="#"class="text-muted text-decoration-none">{{ categorie.name }}</a></li>
        {% endfor %}
</ul>
                 