<ul class="list-unstyled">
        {% for categorie in categories %}
            <li><a href={{ path('show_articles_form_category', {'alias': categorie.alias}) }} class="text-muted text-decoration-none">{{ categorie.name }}</a></li>
        {% endfor %}
</ul>

                 