<li><a href="#" class="text-muted">Politique</a></li>
                    <li><a href="#" class="text-muted">Economie</a></li>
                    <li><a href="#" class="text-muted">Social</a></li>
                    <li><a href="#" class="text-muted">Santé</a></li>
                    <li><a href="#" class="text-muted">Culture</a></li>
                    <li><a href="#" class="text-muted">Sports</a></li>
                  