<ul class="list-unstyled">
        {% for categorie in categories %}
            <li><a href={{ path('show_article_form_category', {'id': categorie.id}) }} class="text-muted text-decoration-none">{{ categorie.name }}</a></li>
        {% endfor %}
</ul>
                 