<div class="row my-5">
    <div class="col-6 mx-auto">
        {{ form_start(form, {'attr': {novalidate: 'novalidate'} }) }}

        {{form_row(form.comment)}}

        {{form_end(form)}}

    </div>
</div>