<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-uppercase" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
              <div class="dropdown-menu">
                {% for categorie in categories %}
                    <a class="dropdown-item" href="#">{{ categorie.name }}</a>
                {% endfor %}
              </div>
</li>