{% extends 'base.html.twig' %} {% block body %}

<div class="container mt-4">


    <div class="row">
        <div class="col-6 mx-auto">
            {% if article is not defined %}
            <h2 class="text-center">
                Modifier un article
            </h2>
            {% else %}
             <h2 class="text-center">
                Modifier un article
            </h2>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-8 mx-auto">
            {{form_start(form, {'attr': {novalidate: 'novalidate'}})}}

            {{ form_row(form.title) }}
            {{ form_row(form.subtitle) }}
            {{ form_row(form.content) }}
            {{ form_row(form.category) }}
            {{ form_row(form.photo) }}

                {% if article is defined %}
                    <button type="submit" class="btn btn-warning w-100 btn-primary"> Modifer l' article</button>
                {% else %}
                    <button type="submit" class="btn btn-warning w-100 btn-primary"> Ajouter un article</button>

                {% endif %}
             {{ form_end(form)}}
        </div>
    </div>
</div>

{% endblock %}