{% extends 'base.html.twig' %} {% block body %}

   <div class="container">
    <h3 class="text-center">Tous les articles</h3>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Titre</th>
                <th scope="col">Sous-titre</th>
                <th scope="col">Contenu</th>
                <th scope="col">Crée le</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        
        <tbody class="table-info table-hover table-bordered">
            {% for article in articles %}
            <tr>
                <td>{{ article.id}}</td>
                <td>{{ article.category.name}}</td>
                <td>{{ article.title | length > 20 ? article.title | slice(0, 20) ~ '...' : article.title }}</td>
                <td>{{ article.subtitle | length > 20 ? article.subtitle | slice(0, 20) ~ '...' : article.subtitle }}</td>
                <td>{{ article.content | length > 20 ? article.content | slice(0, 20) ~ '...' : article.content }}</td>
                <td>{{ article.createdAt | date ('d/m/y') }}</td>
                <td>{{ article.updatedAt | date ('d/m/y') }}</td>
                <td>
                    <a href="{{path('edit_article',{id: article.id}) }}" class="btn btn-info"><i class="fa fa-edit"></i></a>
                    <a href="{{ path('soft_delete_article', {'id': article.id}) }}" class="btn btn-danger" onclick="return confirm('Voulez-vous vraiment supprimer cet article ?')"><i class="fa fa-trash"></i></a>
                </td>
            </tr
            {% endfor %}
        </tbody>

    </table>


    <div class="row">


        <div class="col-md-3">
            <div class="text-center">Toutes les catégories</div>
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.id}}</td>
                    <td>{{ categorie.name}}</td>
                    <td>
                        <a href="#" class="btn btn-info"><i class="fa fa-edit"></i></a>
                        <a href="#" class="btn btn-danger" onclick="return confirm('Voulez-vous vraiment supprimer cette catégorie ?')"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <div class="col-md-9">
            <div class="text-center">Toutes les utilisateurs</div>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id}}</td>
                    <td>{{ user.roles | first }}</td>
                    <td>{{ user.firstname}}</td>
                    <td>{{ user.lastname}}</td>
                    <td>{{ user.email}}</td>
                    <td>
                        <a href="#" class="btn btn-info"><i class="fa fa-edit"></i></a>
                        <a href="#" class="btn btn-danger" onclick="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?')"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

    </div>

    
   </div>

{% endblock %}